*,
*::before,
*::after {
	box-sizing: border-box;
}

ul,
ol {
	padding: 0;
	list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

body {
	min-height: 100vh;
	text-rendering: optimizespeed;
	text-size-adjust: 100%;
}

img {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

input[type='text'],
input[type='submit'],
textarea {
	appearance: none;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
	appearance: none;
}

button,
a,
label,
input,
textarea,
[tabindex='0'] {
	color: inherit;
	-webkit-tap-highlight-color: transparent;

	&:focus {
		outline: none;
	}
}

input[type='text']::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}

input[type='text']::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	appearance: none;
}

input[type='password'] {
	&::-webkit-caps-lock-indicator {
		content: none;
	}
}

input[type='number'] {
	appearance: textfield;
}
